@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
  --app-blue-1000: #063a88;
  --app-blue-800: #0b56c6;
  --app-blue-600: #0d6bf4;
  --app-blue-400: #387de5;
  --app-blue-200: #7eacf2;
  --app-blue-100: #c5d9f6;
  --app-platinum: #e0e1ddff;
  --app-red-400: rgb(207, 33, 33);
  --app-red-200: rgb(243, 112, 112);

}


.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--app-blue-200), var(--app-platinum), var(--app-blue-200));
}

.task-card {
  transform: scale(0.97);
  border-color: white;
  background-image: linear-gradient(to right, white, var(--app-blue-100), white);
}

.task-card:hover {
  transform: scale(1);
  background-image: linear-gradient(to right, white, white)
  /* border-width: 4px; */
}

/* .header {
  font-weight: 700;
} */

.icon-fill {
  color: var(--app-blue-1000);
}

.task-title, h1 {
  color: var(--app-blue-1000);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
}

.task-title {
  font-weight: 300;
}

.delete-button {
  color: var(--app-red-400);
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.delete-button:hover{
  background-color: var(--app-red-400);
  color: white;
  transform: scale(1.1);
}

.delete-button:active {
  background-color: var(--app-red-200);
}